<div *ngIf="ricetta">
  <div class="container-image" [ngStyle]="{'background-image': 'url(' + ricetta.image + ')'}"></div>
  <div class="container-fluid">
    <div class="row">
      <h2 class="title-summary">{{ ricetta.title }}</h2>
      <div class="col-auto">{{ ricetta.description }}</div>
    </div>
    <div class="row-diffiulty">Difficoltà: &nbsp;<img src="{{ percorsoStelline }}{{ricetta.difficulty}}.png" class="stelline">
      <!--
        Difficoltà <img [src]="percorsoStelline + ricetta.difficulty + '.png'">
        secondo metodo per caricare una foto
      -->
    </div>
    <div class="row-date">Ricetta pubblicata il: {{ ricetta.date }}</div>
  </div>
</div>

<div *ngIf="!ricetta">
<h3>Spiacenti la ricetta non esiste più</h3>
</div>
