.img-bg {
  background-image:  url('https://static.vecteezy.com/ti/foto-gratuito/p1/711277-italiano-food-pizzeria-con-salumi-e-pomodori-verticali-foto.jpg');
  width: 45%;
  background-size: cover;
  margin-left: auto;
}

.btn-primary {
  border: none;
  background-color: #8e210b!important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

.is-danger {
  font-size: 11px;
  color: red;
  font-weight: bold;
}
